<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posco.posworld.board.repository.BoardMapper">
    <insert id="insertBoard" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="friendId">
        INSERT INTO boardtbl (homeId, content, friendId) VALUES (#{homeId}, #{content}, #{friendId})
    </insert>
    <select id="getBoards" resultType="SelectJoinDto" parameterType="BoardDto">
        SELECT b.num, b.homeId, b.content, b.wDate, b.friendId, u.name
            As friendName, u.proPhoto As friendImg FROM boardtbl as b
                INNER JOIN usertbl as u ON b.friendId = u.id WHERE homeId= #{homeId}
    </select>
    <delete id="deleteBoard" parameterType="BoardDto">
        DELETE FROM boardtbl WHERE num = #{num} AND friendId = #{friendId}
    </delete>
    <update id="updateBoard" parameterType="BoardDto">
        UPDATE boardtbl SET content = #{content} WHERE num = #{num} AND friendId = #{friendId}
    </update>
</mapper>