<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.posco.posworld.home.repository.HomeMapper">
    <select id="getHome" parameterType="HomeDto" resultType="HomeDto">
        SELECT *
        FROM hometbl
        WHERE userId = #{userId}
    </select>
    <insert id="insertHome" parameterType="HomeDto">
        INSERT INTO
            hometbl( userId, title, photo, content, bgm)
        VALUES
            (#{userId}, "t", "p", "c", "b")

    </insert>
    <update id="updateHome" parameterType="HomeDto">
        UPDATE hometbl
        <set>
            <if test="title!=null">title = #{title},</if>
            <if test="photo!=null">photo = #{photo},</if>
            <if test="content!=null">content = #{content},</if>
            <if test="bgm!=null">bgm = #{bgm}</if>
        </set>
        WHERE
        userId=#{userId}
    </update>
</mapper>