<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.posco.posworld.photo.repository.PhotoMapper">
    <insert id="insertPhoto" parameterType="PhotoDto">
        INSERT INTO phototbl(userId, title, content, img)
        VALUES (#{userId}, #{title}, #{content}, #{img})

    </insert>

    <update id="updatePhoto" parameterType="PhotoDto">
        UPDATE phototbl
        <set>
            <if test="title!=null">title = #{title},</if>
            <if test="img!=null">img = #{img},</if>
            <if test="content!=null">content = #{content}</if>
        </set>
        WHERE userId = #{userId} AND id = #{id}
    </update>

    <delete id="deletePhoto" parameterType="PhotoDto">
        DELETE FROM phototbl
        WHERE id = #{id} AND userId = #{userId}
    </delete>

    <select id="selectPhoto" resultType="PhotoDto">
        SELECT * FROM phototbl
        where userId = #{userId};
    </select>

    <select id="selectPhotoById" resultType="PhotoDto">
        SELECT * FROM phototbl
        where id = #{id};
    </select>

</mapper>