<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.posco.posworld.user.model"/>
        <package name="com.posco.posworld.board.model"/>
        <package name="com.posco.posworld.home.model"/>
        <package name="com.posco.posworld.pComment.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/userMapper.xml" />
        <mapper resource="mapper/boardMapper.xml"/>
        <mapper resource="mapper/homeMapper.xml" />
        <mapper resource="mapper/pCommentMapper.xml"/>
    </mappers>
</configuration>